
button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

select {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  background-color: #aa7a31;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

input {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  background-color: #ccecec;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

th {
  font-weight: bold;
  text-align: center;
  background-color: #ebb2c9;
}

td {
  text-align: center;
}

input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #fe9bc4;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #e5ec81;
  border: 2px solid #00cec9;
}

.destacado {
  font-weight: bold;
}

.view {
  display: none;
}

.active {
  display: block;
}

.delete-button {
  font-size: 12px;
  padding: 7px 14px;
  background-color: #e72207;
}

.edita-button{
  font-size: 12px;
  padding: 7px 14px;
  background-color: #190cca;
} 

