
button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

select {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  background-color: #aa7a31;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

input {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  background-color: #ccecec;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

td {
  text-align: center;
}

.destacado {
  font-weight: bold;
}

.view {
  display: none;
}

.active {
  display: block;
}

